*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
}

.header{
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(103,34,128);
  background: linear-gradient(90deg, rgba(103,34,128,1) 35%, rgba(166,38,211,1) 100%);
}

.header--left{
  display: flex;
  align-items: center;
  gap: 5px;
 
}

.header--title{
  color: white;
  font-size: 30px;
  font-family: 'Kodchasan', sans-serif;
  font-weight: 700;
  
  
}
.header--left img{
  height: 35px;
  width: 35px;
}

.header--right{
  color: white;
  font-family: 'Kodchasan', sans-serif;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 300;
}

.meme{
  padding: 30px;
}


.meme--form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 1500px;
  gap: 30px;
}

.form--top{
  display: flex;
  gap: 60px;
  
  
}

.form--top input[type=text]{
  display: inline-block;
  border: 2px solid rgb(180, 176, 176);
  width: 100%;
  padding: 20px 180px 20px 0px;
  margin: 8px 0;
  border-radius: 8px;
  font-family: 'Kodchasan', sans-serif;
  text-indent: 5px;
  font-size: 15px;
  
}



button{
  width: 800px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: rgb(103,34,128);
  background: linear-gradient(90deg, rgba(103,34,128,1) 35%, rgba(166,38,211,1) 100%);
  font-family: 'Kodchasan', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

