*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
}


.header--left{
  display: flex;
  align-items: center;
  gap: 5px;
 
}

.header--title{
  color: white;
  font-size: 30px;
  font-family: 'Kodchasan', sans-serif;
  font-weight: 700;
  
  
}
.header--left img{
  height: 35px;
  width: 35px;
}

.header--right{
  color: white;
  font-family: 'Kodchasan', sans-serif;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 300;
  display: flex;
  gap: 10px
}





.form--top{
  display: flex;
  gap: 60px;
}

.form--top input[type=text]{
  display: inline-block;
  border: 2px solid rgb(180, 176, 176);
  width: 100%;
  padding: 20px 180px 20px 0px;
  margin: 8px 0;
  border-radius: 8px;
  font-family: 'Kodchasan', sans-serif;
  text-indent: 5px;
  font-size: 15px;
  
}



.darkModeBut{
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.darkMode{
  background-color: transparent;
  border: none;
}

.meme--image{
  max-width: 100%;
}

